.donate {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include pad {
    height: 100%;
  }
  @include padPro {
    height: 100%;
  }
  & > h1 {
    // background-color: red;
    font-size: 60px;
    text-align: center;
    margin-top: -100px;
    @include pad {
      margin-top: 20px;
      font-size: 30px;
    }
    @include padPro {
      margin-top: 20px;
    }
  }

  .connectForm {
    width: 50%;
    // height: 800px;
    @include pad {
      width: 100%;
    }
    @include padPro {
      width: 90%;
      margin-bottom: 20px;
    }
  }
}
