.footer {
  padding: 20px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1), 2px 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;

  &:hover {
    box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
      inset -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  }
  & > p {
    text-align: center;
    color: orange;
    font-weight: bold;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
}
