.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px 5px 20px;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.5s;
  // background-color: red;
  &__black {
    background-color: #f2f3f7;
    opacity: 0.7;
    box-shadow: 0px 4px 5px 0px #afa8a9;
  }
  @include iphone {
    justify-content: space-between;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 60px;
    object-fit: contain;
    margin-left: 10px;
    // border: 1px solid black;
  }

  &__center {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid lightgray;

    @include iphone {
      flex: 1;
    }

    & > input {
      flex: 1;
      outline: none;
      border: none;
    }
  }

  &__searchBtn {
    width: 50px !important;
    background-color: #fafafa;
    padding: 5px !important;
    color: gray;
    border-left: 1px solid lightgray;

    @include iphone {
      display: none !important;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__option {
    // opacity: 0.5;
    letter-spacing: 2px;
    font-size: 18px;
    color: black;
    padding: 10px;
    font-weight: bold;
    & > p {
      margin-bottom: unset;
    }
  }
  &__optionBorderBlack {
    border-radius: 20px;
    color: gray;
    background-color: #fff;
    border: 1px solid gray;
    transition: 0.5s;

    &:hover {
      background-color: orange;
      border: none;
    }
  }

  &__icon {
    margin-right: 5px;
  }
}
